*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img{
    cursor: pointer;
    width: 900px;
}

.audio{
    display: none;
}